.btn{
    width: 150px;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: "BASKE2", sans-serif;
}

.btn:hover{
    background-color: #B2945B;
    cursor: pointer;
}
