@font-face {
    font-family: "Baskvl";
    src: url("./baskvl.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BASKE1";
    src: url("./BASKE1.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BASKE9";
    src: url("./BASKE9.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BASKE10";
    src: url("./BASKE10.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Baskervi";
    src: url("./baskervi.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BaskervilleBoldBT";
    src: url("./BaskervilleBoldBT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BaskervilleBoldItalicBT";
    src: url("./BaskervilleBoldItalicBT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BaskervilleBT";
    src: url("./BaskervilleBT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BaskervilleItalicBT";
    src: url("./BaskervilleItalicBT.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "BASKRV_L";
    src: url("./BASKRV_L.ttf") format("truetype");
  }
  