.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    font-family: "BASKE1", sans-serif;

}

.contactright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(58, 58, 58, 0.483) 0px 20px 30px -10px;
}

.contactright input{
    width: 100%;
    height: 10%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #8D8D8D;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #8D8D8D;
    border-radius: 0px;
}

.contactright form textarea{
    width: 100%;
    height: 50%;
    display: flex;
    color: #8D8D8D;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #8D8D8D;
    border-radius: 0px;

}

.contactright form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.h1c{
    font-size: 2rem;
    text-align: center;
    width: 40%;
    margin-bottom: 30px;
}

.contact__content__info__phone a{
    color: #fff;
    text-decoration: none;
}

.contact__content__info__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 12px;
    padding: 10px;
}

.contact__content__info__phone{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
        gap : 20px;
        
    }

    .contactinfo{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
    }

    .h1c{
        font-size: 1.5rem;
        text-align: center;
        width: 80%;
        margin-bottom: 0;
    }


    .contactright{
        width: 90%;
        margin-bottom: 30px;
    }

    .contactright {

        padding: 20px;
    }

}


